<main>
    <section class="tarefas">
        {{#each tarefas}}
            <div class="tarefa">
                <form action="">
                    <div class="completa">
                        <input type="checkbox" id="tarefa-{{this.id}}" checked onchange="descompletarTarefa({{this.id}})">
                        <label for="tarefa-{{this.id}}">{{this.descricao}}</label>
                    </div> 

                    <button onclick="excluirTarefa({{this.id}})">
                        <img src="/imagens/x-icon.png" alt="ícone de X para excluir uma tarefa">
                    </button>
                </form>
            </div>
        {{/each}}

        <div class="informacoes">
            <p>{{quantidadeTarefas}} tarefas completas</p>

            <div class="botoes">
                <a href="/">Todas</a>
                <a href="/ativas">Ativas</a>
                <a href="/completas" class="active">Completas</a>
            </div>

            <a href="/limpartarefas">limpar tarefas</a>
        </div>
    </section>

    <section class="botoes">
            <a href="/">Todas</a>
            <a href="/ativas">Ativas</a>
            <a href="/completas" class="active">Completas</a>
    </section>
</main>